@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  overflow: hidden;
}

* {
  scrollbar-color: #1e1f22 #2b2d31;
  scrollbar-width: thin;
}

::-webkit-scrollbar {  
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-900 rounded-full;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/roboto-regular-webfont.woff2") format("woff2"),
    url("./assets/roboto-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/roboto-medium-webfont.woff2") format("woff2"),
    url("./assets/roboto-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/roboto-bold-webfont.woff2") format("woff2"),
    url("./assets/roboto-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  src: url("./assets/poppins-extrabold-webfont.woff2") format("woff2"),
    url("./assets/poppins-extrabold-webfont.woff") format("woff");
}
